
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0 1em;
  line-height: 1.5;
  padding: 0;
  color: #333;
}
body, input {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.page-container {
  height: 100vh;
  margin: 0 auto;
  max-width: 80em;
  display: flex;
  flex-direction: column;
}
.color {
  color: #3070b3;
}

a {
  color: #4889ce;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

header {
  flex: 0;
  border-bottom: 1px solid gray;
  padding-bottom: 1ex;
}
header .tum-header {
  margin: 21px 0 30px 0;
  line-height: initial;
}
header .tum-links a {
  color: #3070b3;
}
header .language-select {
  margin-right: 20px;
  font-size: initial;
  font-weight: initial;
}
header .language-select .selected {
  font-weight: bold;
}
header .language-select .language-option:hover {
  text-decoration: underline;
}
header .test-checkbox {
  margin-right: 40px;
  font-size: initial;
  font-weight: initial;
  color: #aaa
}
header .test-checkbox:hover {
  color: #777
}
footer a {
  color: #333;
  text-decoration: none;
}
footer .footer-left > * {
  margin-right: 1em;
}
footer .footer-right > * {
  float: right;
  margin-left: 1em;
}

main {
  flex: 1;
  display: flex;
  min-height: 0;
}
aside {
  flex: 4;
  overflow: auto;
  /* border-right: 1px solid grey; */
}
aside nav {
  background-color: #f7f7f7;
  padding: 0.6em;
}
article {
  flex: 8;
  overflow: auto;
  padding: 0.5em;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.search-bar  .search-label {
  width: 10em;
}

.search-bar .input-group {
  flex: 1;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  /* margin-right: 1rem; */
}
.search-bar .search-input {
  flex: 1;
  font-size: 105%;
  border: none;
}
.search-bar .clear-input {
  background: none;
  border: none;
}
.submit-buttons {
  text-align: right;
}
/*
.input-group > * {
  border-radius: 0;
}
.input-group > *:first-child {
  border-top-left-radius: .4rem;
  border-bottom-left-radius: .4rem;
}
.input-group > *:last-child {
  border-top-right-radius: .4rem;
  border-bottom-right-radius: .4rem;
}
*/

/* Remove some builtin-styles for input fields in webkit, chrome, ie */
input:focus{
  outline: none;
}
button:focus{
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
input.hide-clear[type=search]::-ms-clear,
input.hide-clear[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0; 
}

.filters-bar {
  margin: 1rem 0;
}
.filter-form {
  display: inline-block;
}

.existing-filter.being-edited {
  opacity: 0.5;
}
button:not(:disabled):not(.disabled) {
  cursor: pointer; 
}
button:disabled, button.disabled {
  opacity: .65;
}
button, select, .filter-inputs {
  user-select: none;
  border: 1px solid;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .4rem;

  color: #333333;

  background-color: #f4f4f4;
  border-color: #e6e6e6;
}
button.selected {
  border: 2px solid #999
}
button.filter-button, .filter-inputs {
  /*
  background-color: #e2e4d0;
  border-color: #b4b977;
  */
  padding: 0.25rem .75rem;
}

.document {
  display: block;
  margin: 2ex 0;
  padding: 1px 3px;
  border: 1px solid transparent;
}
.document:hover {
  border: 1px solid #a0af00;
}
a.document {
  color: unset;
  text-decoration: unset;
}
a.document:hover {
  text-decoration: unset;
}
.document .metadatatype {
  color: #4889ce;
}
.listing .attributes {
  margin-left: 2em;
}
.listing .attribute:hover {
  background-color: #eee;
}
.listing .author {
  font-weight: bold;
}
.listing .attribute.title {
  font-style: italic;
}
.attribute .highlight-search-term {
  background-color: #d5de70;
}
/* For development and testing: Highlight unparsable Html with an eye-catching background-color
.attribute .unparsable {
  background-color: rgb(238, 2, 238);
}
*/
.no-more-results {
  font-style: italic;
}
.folder-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
ul.folder-list ul.folder-list {
    margin-left: 1.4em;
}
.details .header {
  margin: 3ex 0;
}
.details .header .metadatatype
{
  color: #3070b3;
}

.folder-head {
  display: flex;
  transition: color .2s;
}
.folder-head.selected {
  color: #a0af00;
}
.folder-head .folder-name {
  padding-left: 0.6em;
}
.folder-head:hover .folder-name {
  text-decoration: underline;
}

.svg-icon {
  display: inline-block;
  width: 1.5ex;
  height: 1.5ex;
  stroke: currentColor;
  stroke-width: 3px;
  stroke-linejoin: round;
  fill: currentColor;
  transition: transform 0.15s
}
.directory .svg-icon {
  fill: transparent;
}
.expanded .svg-icon {
  transform: rotate(90deg);
}

.article {
  position: relative;
}
.spinner {
  width: 3em;
}
.text-align-center {
  text-align: center;
}
.error {
  color: #3070b3;
}
.residence {
  margin-top: 4ex;
}
.residence .title {
  font-weight: bold;
}
.details .search-matching{
  margin-top: 4ex;
  font-weight: bold;
}
.breadcrumbs {
  font-size: 80%;
  color: #737373
}
.breadcrumbs a {
  color: inherit;
}
.article .details table {
  border-collapse: collapse;
}
.article .details table td {
  vertical-align: top;
  padding: 0.2em 0;
}
.article .details table td:first-of-type {
  font-weight: bold;
}
.article .details table td + td {
  padding-left: 0.4em;
}

.facets-bar {
}
.facet-box {
  background-color: #f7f7f7;
  margin-top: 1ex;
}
.facet-name {
  font-weight: bold;
}
.facet-values {
  margin: 0;
  padding: 0;
  list-style: none;
}
.facet-line {
  display: flex;
}
.facet-clickable:hover .facet-value-text {
  text-decoration: underline;
}
.facet-value-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.facet-special-action .facet-value-text {
  font-style: italic;
}
.facet-value-selected .facet-value-text {
  font-weight: bold;
}
.facet-value-count {
  margin-left: 0.2em;
}



/* Small waiting animation with three dots */
.spinner-small, .spinner-small::before, .spinner-small::after {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color:#333;
  color: #333;
  animation: spinner-small 1s infinite alternate;
}

.spinner-small {
  position: relative;
  animation-delay: .5s;
  margin: 0.5em;
}

.spinner-small::before, .spinner-small::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.spinner-small::before {
  left: -7px;
  animation-delay: 0s;
}

.spinner-small::after {
  left: 7px;
  animation-delay: 1s;
}

@keyframes spinner-small {
  0% { background-color: #333; }
  60%, 100% { background-color: #ccc; }
}
