
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0 auto;
  max-width: 80em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 0;
  color: #333;
}
.color {
  color: #3070b3;
}

.page-container {
  height: 100vh;

  display: flex;
  flex-direction: column;
}
header {
  flex: 0;
  border-bottom: 1px solid gray;
  padding-bottom: 1ex;
  /* background-color: #eee; */
}
header .title {
  color: #3070b3;
  margin-right: 1.5em;
  /* font-size: 80%; */
}
header .subtitle {
  font-size: 80%;
}
main {
  flex: 1;
  display: flex;
  min-height: 0;
}
aside {
  flex: 4;
  overflow: auto;
  border-right: 1px solid grey;
  padding: 0.3em;
}
article {
  flex: 8;
  overflow: auto;
  padding: 0.5em;
}
.search-bar {
  display: flex;
}
.search-input {
  flex: 1;
  font-size: 105%;
}

.filters-bar {
  margin: 1rem 0;
}
.filter-form {
  display: inline-block;
}

.existing-filter.being-edited {
  opacity: 0.5;
}
button:not(:disabled):not(.disabled) {
  cursor: pointer; 
}
button, select, .filter-inputs {
  user-select: none;
  border: 1px solid;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .4rem;

  color: #212529;

  background-color: #dbe2e9;
  border-color: #afc7df;
}
button.filter-button, .filter-inputs {
  background-color: #e2e4d0;
  border-color: #b4b977;
  padding: 0.25rem .75rem;
}

.button-group {
  margin-right: 1rem;
}
.button-group button, .button-group .filter-inputs {
  border-radius: 0;
}
.button-group button:first-child, .button-group .filter-inputs:first-child {
  border-top-left-radius: .4rem;
  border-bottom-left-radius: .4rem;
}
.button-group button:last-child, .button-group .filter-inputs:last-child {
  border-top-right-radius: .4rem;
  border-bottom-right-radius: .4rem;
}




.document {
  margin: 2ex 0;
}
.attributes {
  margin-left: 2em;
}
.attribute:hover {
  background-color: #eee;
}
.author {
  font-weight: bold;
}
.attribute.title {
  font-style: italic;
}
.folder-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
ul.folder-list ul.folder-list {
    margin-left: 1.4em;
}
.details .header {
  margin: 3ex 0;
}
.details .header .metadatatype
{
  color: #3070b3;
}

.folder-head {
  transition: color .2s;
}
.folder-head.selected {
  color: #a0af00;
}
.folder-head .folder-name {
  padding-left: 0.6em;
}

.svg-icon-definitions symbol {
  stroke-width: 14%;
  stroke-linejoin: round;
}
.svg-icon {
  display: inline-block;
  width: 1.5ex;
  height: 1.5ex;
  stroke: currentColor;
  fill: currentColor;
  transition: transform 0.15s
}
.directory .svg-icon {
  fill: transparent;
}
.expanded .svg-icon {
  transform: rotate(90deg);
}

.article {
  position: relative;
}
.article .spinner {
  width: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.article .error {
  color: #3070b3;
}
.breadcrumbs {
  font-size: 80%;
}
.article .details table {
  border-collapse: collapse;
}
.article .details table td {
  vertical-align: top;
  padding: 0.2em 0;
}
.article .details table td:first-of-type {
  font-weight: bold;
}
.article .details table td + td {
  padding-left: 0.4em;
}
